[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/spacegray"]
	path = bundle/spacegray
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/whitespace"]
	path = bundle/whitespace
	url = https://github.com/mmozuras/vim-whitespace
[submodule "languages/scss"]
	path = languages/scss
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "languages/markdown"]
	path = languages/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "languages/html5"]
	path = languages/html5
	url = https://github.com/othree/html5.vim
[submodule "languages/php"]
	path = languages/php
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
